/Pokedex.xcodeproj/xcuserdata/nathanfalcone.xcuserdatad/xcschemes/xcschememanagement.plist
/Pokedex.xcodeproj/project.xcworkspace/xcuserdata/nathanfalcone.xcuserdatad/UserInterfaceState.xcuserstate
/Pokedex.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Pokedex.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/.DS_Store
/Pokedex.xcodeproj/xcuserdata/nathanfalcone.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
