/Pokedex/Assets.xcassets/Contents.json
/Pokedex/Assets.xcassets/AppIcon.appiconset/Contents.json
/Pokedex.xcodeproj/xcuserdata/nathanfalcone.xcuserdatad/xcschemes/xcschememanagement.plist
/Pokedex.xcodeproj/project.xcworkspace/xcuserdata/nathanfalcone.xcuserdatad/UserInterfaceState.xcuserstate
/Pokedex.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Pokedex.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/.DS_Store
